<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855952134775-i81bi4iv1d07hnp1pnultbb8brtodtfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855952134775-i81bi4iv1d07hnp1pnultbb8brtodtfk</string>
	<key>API_KEY</key>
	<string>AIzaSyBugiUggfjkVlcIZZOEilAofHVqoq8qKkA</string>
	<key>GCM_SENDER_ID</key>
	<string>855952134775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFitnessCoach</string>
	<key>PROJECT_ID</key>
	<string>myfitnesscoach-ceb14</string>
	<key>STORAGE_BUCKET</key>
	<string>myfitnesscoach-ceb14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855952134775:ios:5c0ee1df6d369a5877ec72</string>
</dict>
</plist>